<%- include('../partials/header') %>
<h1> All my Gear</h1>

<% if (gears.length > 0) { %>

<table> 
    <thead>
        <tr>
            <th>Name</th>
            <th>Model & Make</th>
            <th>Brand</th>
            <th>Use Type</th>
            <th>Condition</th>
            <th>Up for Borrow?</th>
        </tr>
    </thead>


<tbody> 
    <% gears.forEach(function(g){ %>
    <tr> 
        <td><%= g.name %> 
        </td>
        <td><%= g.modelMake %>
        </td>
        <td><%= g.useType %> 
        </td>
        <td><%= g.condition %> 
        </td>
        <td><%= g.forBorrow %> 
        </td>
    </tr> <% }); %>
</tbody>
</table> 

    <a href="gears/new"> Add More Gear</a> 

<% } else { %>
    <h5> You haven't listed any gear yet! </h5>
    <a href="/gears/new">Add Gear</a>
<% } %> 

    <span class="title"><%- gear.text%></span>
    <% if (gear._id.equals(user && user._id)) { %>
        <form action="/gears/<%= gear._id %>?_method=DELETE" method="POST">
        <button type="submit" >X</button>
        </form>
<% } %>


    
    
<%- include('../partials/footer') %>