<%- include('../partials/header') %>
<br>
<br> 
<div id="gear-title"><h2> <%=gear.name %></h2>
 </div>

<section id="show-page"> 
    <div><strong>Name of Gear: </strong></div>
    <div> <%= gear.name %> </div>
    <div><strong>Model & Make: </strong></div>
    <div> <%= gear.modelMake %></div>
    <div><strong>Brand: </strong></div>
    <div> <%= gear.brand %></div>

    <section id="edit-gear" action="/gears/<%= gear._id %>/edit" method="GET"> 
    <button type="submit">Edit Gear</button> 
    </section>
    <br> 
  
    <section id="delete-gear-form" action="/gears/<%= gear._id %>?_method=DELETE" method="POST">
    <button type="submit"> Delete this Gear </button> 
    </section>

</section>
<button><a href="/gears"> Back</a></button> 


<form id="add-maintenance-activity-form" method="POST" action="/gears/<%= gear.id%>/maintenances"><button type="submit">This Gear's Maintenance Jobs</button>

<%- include('../partials/footer') %>