<%- include('../partials/header') %>

<section id="show-page"> 
    <div>Name of Gear: </div>
    <div> <%= gear.name %> </div>
    <div>Model & Make: </div>
    <div> <%= gear.modelMake %></div>
    <div>Brand: </div>
    <div> <%= gear.brand %></div>

    <button type="submit"> Maintenance Log </button>
    <br> 
  
    <form id="delete-gear-form" action="/gears/<%= gear._id %>?_method=DELETE" method="POST">
    <button type="submit"> Delete this Gear </button> 
    </form>

</section>
<button><a href="/gears"> Back</a></button> 

<%- include('../partials/footer') %>